# see https://github.com/puma/puma/blob/master/docs/systemd.md
[Unit]
Description=Puma HTTP Server Forking
After=network.target

[Service]
# Puma HTTP Server
Type=forking

# Preferably configure a non-privileged user
User=hyrax
Group=hyrax
UMask=0002

PIDFile=/var/run/hyrax/puma.pid

WorkingDirectory=/var/lib/hyrax

# The command to start Puma
ExecStart=/bin/bash -lc 'bundle exec pumactl start'

# The command to stop Puma
ExecStop=/bin/bash -lc 'bundle exec pumactl stop'

Restart=no

[Install]
WantedBy=multi-user.target
