# https://confluence.t5.fi/display/~stefan.roos/2015/04/01/Creating+systemd+unit+%28service%29+for+Apache+Solr
[Unit]
Description=Apache SOLR
After=syslog.target network.target remote-fs.target nss-lookup.target
[Service]
PIDFile=/var/lib/solr/bin/solr-8983.pid
ExecStart=/var/lib/solr/bin/solr start
User=solr
ExecReload=/var/lib/solr/bin/solr restart
ExecStop=/var/lib/solr/bin/solr stop
# PrivateTmp=true
[Install]
WantedBy=multi-user.target
